<p>Use constants:</p>
<pre><code class="hljs language-js"><span class="hljs-keyword">export</span> <span class="hljs-keyword">const</span> fontSize = percent(<span class="hljs-string">&quot;150&quot;</span>);
<span class="hljs-keyword">export</span> <span class="hljs-keyword">const</span> headingSize = rem(<span class="hljs-string">&quot;3&quot;</span>);
</code></pre>
<pre><code class="hljs language-css"><span class="hljs-selector-pseudo">:root</span> {
  --fontSize: <span class="hljs-number">150%</span>;
  --headingSize: <span class="hljs-number">3rem</span>;
}
</code></pre>
