<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Mini Modules", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link href="https://unpkg.com/highlight.js@11.2.0/styles/night-owl.css" rel="stylesheet">
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <nav class="bg-gray-900 text-white">
      <ul class="flex flex-wrap p-4 gap-4">
        <li><a href="/">Home</a></li>
        <li><a href="/yieldparser">Yield Parser</a></li>
        <li><a href="/yieldmachine">Yield Machine</a></li>
        <li><a href="/editor">React</a></li>
        <li><a href="/live-editor">Live Editor</a></li>
        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
          <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
        <% end %>
        <li role="separator" class="mx-auto"></li>
        <li><a href="https://github.com/RoyalIcing/mini_modules">Source on GitHub</a></li>
      </ul>
    </nav>
    <%= @inner_content %>
  </body>
</html>
