<article class="prose lg:prose-lg dark:prose-invert mx-auto max-w-xl2 pt-12">
  <header>
    <h1><%= gettext "MiniModules" %></h1>
    <p>Peace of mind from prototype to production</p>
  </header>

  <dl>
    <dt>cf.json</dt>
    <dd><%= @duration %>ms</dd>
  </dl>
</article>
