<pre><code class="lang-js"><%= @source %></code></pre>

<h2 class="text-white">Parsed</h2>
<pre class="whitespace-pre-line"><code class="lang-elixir"><%= @decoded %></code></pre>

<h2 class="text-white">List Identifiers</h2>
<pre class="whitespace-pre-line"><code class="lang-elixir"><%= @identifiers %></code></pre>

<h2 class="text-white">To JSON</h2>
<pre class="whitespace-pre-line"><code class="lang-elixir"><%= @json %></code></pre>
